.footer-section{
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footer-section>div{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
}
.socials>img{
    height: 33px;
    width: 33px;
    filter: invert(100%);
    margin: 0px 3px;
    cursor: pointer;

}
#facebook{
    scale: 1.4;
}

.logo>img{
    scale: 0.5;
}
.contact-email{
    color: white;
    font-size: 23px;
}
.copyright{
    margin: 13px;
}
@media only screen and (max-width: 1024px){
    .footer-section{
        width: 160%;
        flex-direction: column;
    }
    .footer-section>div{
        width: 100%;
        margin: 13px 0;
    }
    .socials>img{
        height: 50px;
        width: 50px;
        margin: 0 13px;
    }
    .contact-email{
        font-size: 33px;
    }
}